<div class="data_holder" *ngIf="level">
    <div class="data">
        <span>
            Score: {{level.game.points}}-{{level.game.targetPoints}}
        </span>
    </div>
</div>

<app-grid [grid]="level.game.grid" *ngIf="level"></app-grid>

<div class="buttons_holder" *ngIf="!level">
    <div class="menu_button" (click)="start(classic)">
        Classic
        <div class="menu_button_line"></div>
    </div>
    <div class="menu_button" (click)="start(fast)">
        Fast
        <div class="menu_button_line"></div>
    </div>
    <div class="menu_button" (click)="start(chaos)">
        Chaos
        <div class="menu_button_line"></div>
    </div>
</div>