.container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    // animation: rotate 4s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s infinite;
}
.grid {
    width: 100vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: unset !important;
}
.tile {
    padding-top: calc((5% - 0px) * 1 + 1px) !important;
    width: calc((5% - 0px) * 1 + 1px) !important;
    overflow: unset;
}
.head {
    z-index: 100000 !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.3);
    }
    50% {
        transform: rotate(180deg) scale(0.8);
    }
    100% {
        transform: rotate(360deg) scale(0.3);
    }
}
