.cell {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entity {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.anim_apple_eat {
    animation: apple_eaten 0.8s linear 0s 1;
}
.blockade {
    background-color: black;
}

@keyframes apple_eaten {
    0% { background-color: #00BE00;}
    10% { background-color: #bfc213;}
    100% { background-color: #00BE00;}
}