<div class="cell" (click)="log()">

    <!-- snake body -->
    <div *ngIf="cell.entity && cell.entity.type == 0 && !isHead()" class="entity snake_body" [@snakeAnim]
        [class.anim_apple_eat]="getAnimTrigger() == 0">
    </div>

    <!-- snake head -->
    <div *ngIf="cell.entity && cell.entity.type == 0 && isHead()" class="entity snake_head" [ngStyle]="getHeadStyle()">
        <!-- <img src=".../../../../../assets/Head.png"> -->
        <img src=".../../../../../assets/DJ.png">
    </div>

    <!-- apple -->
    <div *ngIf="cell.entity && cell.entity.type == 1" class="entity apple" [@appleAnim]>
        <!-- <img style="height: inherit; transform: scale(0.95);" src="../../../assets/Apple_logo_red.svg"> -->
        <img style="height: 94%;" src="../../../assets/Pizza.png">
    </div>

    <!-- blockade -->
    <div *ngIf="cell.entity && cell.entity.type == 2" class="entity blockade"></div>

    <!-- board -->
    <div *ngIf="cell.showBoard" [@boardAnim] class="board"></div>
</div>